html {
    background: url('../images/simpsons.jpg') no-repeat center center;
    min-height: 100%;
    background-size: cover;
}

body {
    min-height: 100%;
    color: #285DB8;
    background-color: rgba(225, 225, 225, 0);
}

#donut {
    width: 170px;
    height: 180px;
    background: url('../images/donut.png');
    background-position: 0 0;
    margin-left: 10px;
}

.jumbotron h1 {
    font-family: simpsons;
    color: #FFD90F;
}

@font-face {
    font-family: simpsons;
    src: url(sfont.ttf);
}

@font-face {
    font-family: chalk;
    src: url(chalk.ttf);
}

.jumbotron {
    padding-top: 5px;
    padding-bottom: 15px;
}

#lives {
    position: absolute;
    margin-top: 78px;
    margin-left: 65px;
    font-family: simpsons;
}

sup {
    color: red;
}

#chalk {
    background-image: url('../images/chalkboard.jpg');
    height: 240px;
    width: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-left: 25px;
    font-family: chalk;
}

.letters {
    color: white;
    font-size: 35px;
}

#guessed {
    position: absolute;
    margin-top: 222px;
    z-index: 1;
    color: white;
    font-family: chalk;
    font-size: 20px;
}

.gamesWon {
    position: absolute;
    margin-left: 310px;
    margin-top: 30px;
    z-index: 1;
    color: white;
    font-family: chalk;
    font-size: 20px;
}
